---
import HideContainer from "@layouts/HideContainer.astro";

import ArrowDownIcon from "./ArrowDownIcon.astro";
---

<div
    id="scroll-tip-cont"
    class="absolute bottom-[2%] transition-all duration-75 flex flex-col items-center"
>
    <HideContainer>
        <p class="text-dimmed-light dark:text-dimmed-dark text-lg">
            Scroll down
        </p>
        <ArrowDownIcon />
    </HideContainer>
</div>

<script is:inline>
    document.addEventListener(
        "scroll",
        () => {
            const scrollCheckpoint = 600;
            const currentScroll = window.scrollY;
            const scrollTipCont = document.getElementById("scroll-tip-cont");
            let opacity = 0;

            if (currentScroll <= scrollCheckpoint)
                opacity = 1 - currentScroll / scrollCheckpoint;

            if (scrollTipCont !== null)
                scrollTipCont.style.opacity = String(opacity);
        },
        {
            passive: true,
            capture: true,
        },
    );
</script>
