---
import ArrowDownIcon from "./ArrowDownIcon.astro";
import HideContainer from "@layouts/HideContainer.astro";
---

<div
    id="cont"
    class="absolute bottom-[2%] transition-all duration-75 flex flex-col items-center"
>
    <HideContainer>
        <p class="text-dimmed-light dark:text-dimmed-dark text-lg">
            Scroll down
        </p>
        <ArrowDownIcon />
    </HideContainer>
</div>

<script>
    document.addEventListener(
        "scroll",
        () => {
            const scrollCheckpoint = 600;
            const currentScroll = window.pageYOffset;
            let opacity: number;
            if (currentScroll <= scrollCheckpoint)
                opacity = 1 - currentScroll / scrollCheckpoint;
            else opacity = 0;
            document.getElementById("cont")!.style.opacity = String(opacity);
        },
        {
            passive: true,
            capture: true,
        }
    );
</script>
