---
import Redirect from "@layouts/Redirect.astro";
import "@styles/base.css";
---

<Redirect name="Twitter" link="https://twitter.com/scndthndr">
    <h1 class="text-2xl font-medium">
        If you are not redirected automatically, follow this <a
            class="text-accent-light hover:text-accent-light-hover dark:text-accent-dark dark:hover:text-accent-dark-hover transition-all duration-300"
            href="https://twitter.com/scndthndr"
        >
            link
        </a>
    </h1>
</Redirect>
