---
export interface Props {
    link: string;
}

const { link } = Astro.props;
---

<a
    class="cursor-pointer m-0 mt-7 py-5 px-8 text-2xl font-normal rounded-2xl outline-hidden appearance-none transition-all duration-300 bg-white text-black border-none hover:bg-accent-light dark:hover:bg-accent-dark hover:text-white"
    href={link}
>
    <slot />
</a>
