---
export interface Props {
    invert?: boolean;
}

const { invert = false } = Astro.props;
const invertTextClass = invert ? "text-black" : "text-white";
const descriptionClass = `text-2xl ${invertTextClass}`;
---

<p class={descriptionClass}>
    <slot />
</p>
