---
import BlockLayout from "@layouts/Block.astro";
import LandscapeContainer from "@layouts/LandscapeContainer.astro";
import Icon from "./Icon.astro";
import Name from "./Name.astro";
import Title from "./Title.astro";
import Description from "./Description.astro";
import Button from "./Button.astro";

export interface Props {
    where: string;
    description: string;
    link: string;
}

const { where, description, link } = Astro.props;

const blockColor =
    "bg-gradient-to-bl from-social-playlist-start dark:from-social-playlist-start/70 to-social-playlist-end dark:to-social-playlist-end/70";
---

<BlockLayout color={blockColor}>
    <Icon name="Playlist" alt="Playlist icon" />
    <LandscapeContainer>
        <Title>
            Here is my <Name>playlist</Name> on <Name>{where}</Name>
        </Title>
        <Description>
            {description}
        </Description>
        <Button link={link}>Go to Playlist page</Button>
    </LandscapeContainer>
</BlockLayout>
