---
export interface Props {
    invert?: boolean;
}

const { invert = false } = Astro.props;
const invertSocialTextClass = invert ? "text-social-dark" : "text-social-light";
const titleClass = `cursor-default mt-8 mb-3 text-4xl font-bold ${invertSocialTextClass}`;
---

<h1 class={titleClass}>
    <slot />
</h1>
