<h1
    class="cursor-default mt-8 mb-3 text-4xl font-bold text-black dark:text-white"
>
    Let's scroll to the <span class="text-accent-light dark:text-accent-dark"
        >beginning</span
    > of the page
</h1>
