---
export interface Props {
    color?: string;
}

const { color = "" } = Astro.props;
---

<div
    class={`h-screen w-screen flex flex-col landscape:gap-12 lg:landscape:gap-0 landscape:flex-row lg:landscape:flex-col justify-center items-center p-12 ${color}`}
>
    <slot />
</div>
